.addPostSection,
form{
    display: flex;
    flex-direction: column;
}
.addPostSection{
    margin-top: 30px; 
    width: 420px;
    margin: 30px;
}
form{
    width: 100%;
    gap: 15px;
}
input,
textarea,
.addButton,
.deleteButton,
select{
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}
input{
    height: 40px;
}
textarea{
    height: 100px;
}
.addButton, .deleteButton{
    height: 35px;
    background-color: rgb(216, 213, 213);
    border: none;
}
.deleteButton{
    background-color: grey;
}
.deleteButton:hover{
    background-color: rgb(77, 76, 76);
}

@media screen and (max-width: 640px) {
    .addPostSection{
        width: 100%;
        padding: 0px 30px 30px 30px;
    }
}