section{
    display:  flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px;
    justify-content: center;
}
article{
    border: 1px solid black;
    width: 420px;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
}
.reactionButton{
    margin-right: 15px;
    font-size: 15px;
    letter-spacing: 4px;
    border: none;
    background-color: white;
 }

 @media screen and (max-width: 480px){
    section{
        margin: 15px;
    }
    article{
        width: 100%;
    }
    .reactionButton{
        margin-right: 13px;
        letter-spacing: 2.5px;
    }

 }