section{
    display:  flex;
    flex-direction: column;
    margin: 30px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
article{
    border: 1px solid black;
    width: 420px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 15px;
}
.reactionButton{
    margin-right: 15px;
    font-size: 15px;
    letter-spacing: 4px;
    border: none;
    background-color: white;
 }
 .Link{
    text-decoration: none;

 }
 .singlePost{
    margin: 20px;
 }
 
 

 @media screen and (max-width: 480px){
    article{
        width: 100%;
    }
    .reactionButton{
        margin-right: 13px;
        letter-spacing: 2.5px;
    }
 }